openapi: 3.0.0
info:
  title: Award Force API
  version: '2.3'
  description: API version 2.3
  license:
    name: Creative Force Client Subscription Terms
    url: https://creativeforce.team/agreement/
servers:
  - url: https://api.cr4ce.com
components:
  securitySchemes:
    ApiKeyAuth:
      $ref: components/securitySchemes/ApiKeyAuth.yaml
security:
  - ApiKeyAuth: []
paths:
  /account:
    $ref: paths/account.yaml
  /assignment:
    $ref: paths/assignment.yaml
  /assignment/{assignment_slug}:
    $ref: paths/assignment_{assignmentSlug}.yaml
  /entry/{entry_slug}/recuse:
    $ref: paths/entry_{entrySlug}_recuse.yaml
  /entry/{entry_slug}/unrecuse:
    $ref: paths/entry_{entrySlug}_unrecuse.yaml
  /attachment:
    $ref: paths/attachment.yaml
  /attachment/{token}:
    $ref: paths/attachment_{token}.yaml
  /entry/{entry_slug}/attachment/{tab_slug}:
    $ref: paths/entry_{entrySlug}_attachment_{tabSlug}.yaml
  /category:
    $ref: paths/category.yaml
  /category/{category_slug}:
    $ref: paths/category_{categorySlug}.yaml
  /category/{category_slug}/upload:
    $ref: paths/category_{categorySlug}_upload.yaml
  /chapter:
    $ref: paths/chapter.yaml
  /chapter/{chapter_slug}:
    $ref: paths/chapter_{chapterSlug}.yaml
  /chapter/{chapter_slug}/upload:
    $ref: paths/chapter_{chapterSlug}_upload.yaml
  /contributor:
    $ref: paths/contributor.yaml
  /contributor/{contributor_slug}:
    $ref: paths/contributor_{contributorSlug}.yaml
  /document:
    $ref: paths/document.yaml
  /document/{document_slug}:
    $ref: paths/document_{documentSlug}.yaml
  /entry:
    $ref: paths/entry.yaml
  /entry/{entry_slug}:
    $ref: paths/entry_{entrySlug}.yaml
  /entry/{entry_slug}/upload/{field_slug}:
    $ref: paths/entry_{entrySlug}_upload_{fieldSlug}.yaml
  /entry/{entry_slug}/tag/{tags}:
    $ref: paths/entry_{entrySlug}_tag_{tags}.yaml
  /entry/{entry_slug}/update-title:
    $ref: paths/entry_{entrySlug}_update-title.yaml
  /entry/{entry_slug}/update-field/{field_slug}:
    $ref: paths/entry_{entrySlug}_update-field_{fieldSlug}.yaml
  /entry/{entry_slug}/update-category:
    $ref: paths/entry_{entrySlug}_update-category.yaml
  /entry/{entry_slug}/update-chapter:
    $ref: paths/entry_{entrySlug}_update-chapter.yaml
  /attachment/{token}/update-field/{field_slug}:
    $ref: paths/attachment_{token}_update-field_{fieldSlug}.yaml
  /contributor/{contributor_slug}/update-field/{field_slug}:
    $ref: paths/contributor_{contributorSlug}_update-field_{fieldSlug}.yaml
  /field:
    $ref: paths/field.yaml
  /file/{token}:
    $ref: paths/file_{token}.yaml
  /form:
    $ref: paths/form.yaml
  /form/{form_slug}:
    $ref: paths/form_{formSlug}.yaml
  /grant-status:
    $ref: paths/grant-status.yaml
  /grant-status/{grant_status_slug}:
    $ref: paths/grant-status_{grantStatusSlug}.yaml
  /leaderboard:
    $ref: paths/leaderboard.yaml
  /order:
    $ref: paths/order.yaml
  /order/{order_slug}:
    $ref: paths/order_{orderSlug}.yaml
  /order/{order_slug}/items:
    $ref: paths/order_{orderSlug}_items.yaml
  /review-task:
    $ref: paths/review-task.yaml
  /review-task/{token}:
    $ref: paths/review-task_{token}.yaml
  /round:
    $ref: paths/round.yaml
  /round/{round_slug}:
    $ref: paths/round_{roundSlug}.yaml
  /score-set:
    $ref: paths/score-set.yaml
  /score-set/{score_set_slug}:
    $ref: paths/score-set_{scoreSetSlug}.yaml
  /season:
    $ref: paths/season.yaml
  /season/{season_slug}:
    $ref: paths/season_{seasonSlug}.yaml
  /tax:
    $ref: paths/tax.yaml
  /user:
    $ref: paths/user.yaml
  /user/{user_slug}:
    $ref: paths/user_{userSlug}.yaml
  /user/{user_slug}/upload/{field_slug}:
    $ref: paths/user_{userSlug}_upload_{fieldSlug}.yaml
  /user/{user_slug}/auth-token:
    $ref: paths/user_{userSlug}_auth-token.yaml
  /user/{user_slug}/restore:
    $ref: paths/user_{userSlug}_restore.yaml
  /webhook:
    $ref: paths/webhook.yaml
  /webhook/{webhook_slug}:
    $ref: paths/webhook_{webhookSlug}.yaml
