openapi: 3.0.0
info:
  title: Award Force API
  version: '2.3'
  description: API version 2.3
servers:
  - url: https://api.cr4ce.com
components:
  securitySchemes:
    ApiKeyAuth:
      $ref: components/securitySchemes/ApiKeyAuth.yaml
security:
  - ApiKeyAuth: []
paths:
  /account:
    $ref: paths/account.yaml
  /assignment:
    $ref: paths/assignment.yaml
  /assignment/{slug}:
    $ref: paths/assignment_{slug}.yaml
  /entry/{slug}/recuse:
    $ref: paths/entry_{slug}_recuse.yaml
  /entry/{slug}/unrecuse:
    $ref: paths/entry_{slug}_unrecuse.yaml
  /attachment:
    $ref: paths/attachment.yaml
  /attachment/{token}:
    $ref: paths/attachment_{token}.yaml
  /entry/{entry_slug}/attachment/{tab_slug}:
    $ref: paths/entry_{entry_slug}_attachment_{tab_slug}.yaml
  /category:
    $ref: paths/category.yaml
  /category/{slug}:
    $ref: paths/category_{slug}.yaml
  /category/{slug}/upload:
    $ref: paths/category_{slug}_upload.yaml
  /chapter:
    $ref: paths/chapter.yaml
  /chapter/{slug}:
    $ref: paths/chapter_{slug}.yaml
  /chapter/{slug}/upload:
    $ref: paths/chapter_{slug}_upload.yaml
  /contributor:
    $ref: paths/contributor.yaml
  /contributor/{slug}:
    $ref: paths/contributor_{slug}.yaml
  /entry:
    $ref: paths/entry.yaml
  /entry/{slug}:
    $ref: paths/entry_{slug}.yaml
  /entry/{entry_slug}/upload/{field_slug}:
    $ref: paths/entry_{entry_slug}_upload_{field_slug}.yaml
  /entry/{slug}/tag/{tags}:
    $ref: paths/entry_{slug}_tag_{tags}.yaml
  /entry/{slug}/update-title:
    $ref: paths/entry_{slug}_update-title.yaml
  /entry/{slug}/update-field/{fieldSlug}:
    $ref: paths/entry_{slug}_update-field_{fieldSlug}.yaml
  /entry/{slug}/update-category:
    $ref: paths/entry_{slug}_update-category.yaml
  /entry/{slug}/update-chapter:
    $ref: paths/entry_{slug}_update-chapter.yaml
  /attachment/{token}/update-field/{fieldSlug}:
    $ref: paths/attachment_{token}_update-field_{fieldSlug}.yaml
  /contributor/{slug}/update-field/{fieldSlug}:
    $ref: paths/contributor_{slug}_update-field_{fieldSlug}.yaml
  /field:
    $ref: paths/field.yaml
  /file/{token}:
    $ref: paths/file_{token}.yaml
  /leaderboard:
    $ref: paths/leaderboard.yaml
  /order:
    $ref: paths/order.yaml
  /order/{slug}:
    $ref: paths/order_{slug}.yaml
  /review-task:
    $ref: paths/review-task.yaml
  /review-task/{token}:
    $ref: paths/review-task_{token}.yaml
  /round:
    $ref: paths/round.yaml
  /round/{slug}:
    $ref: paths/round_{slug}.yaml
  /score-set:
    $ref: paths/score-set.yaml
  /score-set/{slug}:
    $ref: paths/score-set_{slug}.yaml
  /season:
    $ref: paths/season.yaml
  /season/{slug}:
    $ref: paths/season_{slug}.yaml
  /tax:
    $ref: paths/tax.yaml
  /user:
    $ref: paths/user.yaml
  /user/{parameter}:
    $ref: paths/user_{parameter}.yaml
  /user/{user_slug}/upload/{field_slug}:
    $ref: paths/user_{user_slug}_upload_{field_slug}.yaml
  /user/{slug}/auth-token:
    $ref: paths/user_{slug}_auth-token.yaml
  /webhook:
    $ref: paths/webhook.yaml
  /webhook/{slug}:
    $ref: paths/webhook_{slug}.yaml
