openapi: 3.0.0
info:
  title: Award Force API
  version: '2.2'
  description: API version 2.2
servers:
  - url: https://api.cr4ce.com
security:
  - ApiKeyAuth: []
paths:
  /account:
    get:
      summary: Get account
      tags:
        - Account
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
        - name: x-api-language
          in: header
          required: false
          description: Defines expected language.
          schema:
            type: string
      responses:
        default:
          description: Get account
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    format: date-time
                  domains:
                    type: array
                    items:
                      type: string
                  global_id:
                    type: string
                  languages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                  name:
                    type: string
                  owner:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: string
                      first_name:
                        type: string
                      last_name:
                        type: string
                  product:
                    type: string
                  region:
                    type: string
                  slug:
                    type: string
                  timezone:
                    type: string
                  updated:
                    type: string
                    format: date-time
      description: Returns the account's information based on the API key used in the header.
  /assignment:
    get:
      summary: List assignments
      tags:
        - Assignment
      parameters:
        - name: page
          in: query
          required: false
          description: Number greater than 0
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: Number between 1 and 100
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: |-
            - none
            - in_progress
            - complete
            - abstained
          schema:
            type: string
        - name: score_set
          in: query
          required: false
          description: Score Set slug
          schema:
            type: string
        - name: panel
          in: query
          required: false
          description: Panel slug
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: Tag
          schema:
            type: string
        - name: season
          in: query
          required: false
          description: Season slug
          schema:
            type: string
        - name: method
          in: query
          required: false
          description: |-
            - automatic
            - manual
            - random
            - stray
          schema:
            type: string
        - name: judge
          in: query
          required: false
          description: Judge slug
          schema:
            type: string
        - name: state
          in: query
          required: false
          description: |-
            - undecided
            - approved
            - rejected
          schema:
            type: string
        - name: chapter
          in: query
          required: false
          description: Chapter slug
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: Category slug
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
        - name: x-api-language
          in: header
          required: false
          description: Defines expected language.
          schema:
            type: string
      responses:
        '200':
          description: List assignments
          headers:
            Server:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            X-Powered-By:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Date:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            Content-Encoding:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        application:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            title:
                              type: string
                        category:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            name:
                              type: object
                              properties:
                                en_GB:
                                  type: string
                        chapter:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            name:
                              type: object
                              properties:
                                en_GB:
                                  type: string
                        comments:
                          type: object
                          properties:
                            judging:
                              type: array
                              items:
                                type: object
                                properties:
                                  slug:
                                    type: string
                                  comment:
                                    type: string
                                  created_at:
                                    type: string
                                    format: date-time
                                  updated_at:
                                    type: string
                                    format: date-time
                                  user:
                                    type: object
                                    properties:
                                      slug:
                                        type: string
                                      link:
                                        type: string
                                        format: uri
                                      name:
                                        type: string
                                      first_name:
                                        type: string
                                      last_name:
                                        type: string
                            abstention:
                              type: array
                              items:
                                type: object
                                properties:
                                  slug:
                                    type: string
                                  comment:
                                    type: string
                                  created_at:
                                    type: string
                                    format: date-time
                                  updated_at:
                                    type: string
                                    format: date-time
                                  user:
                                    type: object
                                    properties:
                                      slug:
                                        type: string
                                      link:
                                        type: string
                                        format: uri
                                      name:
                                        type: string
                                      first_name:
                                        type: string
                                      last_name:
                                        type: string
                            conflict:
                              type: array
                              items:
                                type: object
                                properties:
                                  slug:
                                    type: string
                                  comment:
                                    type: string
                                  created_at:
                                    type: string
                                    format: date-time
                                  updated_at:
                                    type: string
                                    format: date-time
                                  user:
                                    type: object
                                    properties:
                                      slug:
                                        type: string
                                      link:
                                        type: string
                                        format: uri
                                      name:
                                        type: string
                                      first_name:
                                        type: string
                                      last_name:
                                        type: string
                            criteria:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  comments:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        slug:
                                          type: string
                                        comment:
                                          type: string
                                        created_at:
                                          type: string
                                          format: date-time
                                        updated_at:
                                          type: string
                                          format: date-time
                                        user:
                                          type: object
                                          properties:
                                            slug:
                                              type: string
                                            link:
                                              type: string
                                              format: uri
                                            name:
                                              type: string
                                            first_name:
                                              type: string
                                            last_name:
                                              type: string
                        created:
                          type: string
                          format: date-time
                        form:
                          type: string
                        method:
                          type: string
                        panels:
                          type: array
                          items: {}
                        reviewer:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            name:
                              type: string
                        role:
                          nullable: true
                        rounds:
                          type: array
                          items:
                            type: object
                            properties:
                              slug:
                                type: string
                              link:
                                type: string
                                format: uri
                              name:
                                type: object
                                properties:
                                  en_GB:
                                    type: string
                        score_set:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            name:
                              type: object
                              properties:
                                en_GB:
                                  type: string
                        slug:
                          type: string
                        status:
                          type: string
                        updated:
                          type: string
                          format: date-time
                  first_page_url:
                    type: string
                    format: uri
                  from:
                    type: integer
                  last_page:
                    type: integer
                  last_page_url:
                    type: string
                    format: uri
                  next_page_url:
                    type: string
                  path:
                    type: string
                    format: uri
                  per_page:
                    type: integer
                  prev_page_url:
                    type: string
                  to:
                    type: integer
                  total:
                    type: integer
      description: List all assignments.
    post:
      summary: Create assignment
      tags:
        - Assignment
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '202':
          description: Create assignment
          headers:
            Server:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            X-Powered-By:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Date:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
      description: |-
        Create a new assignment.

        | Parameter | Required | Type | Description |
        | --- | --- | --- | --- |
        | score_set | Yes | String | Score Set slug |
        | entries | Yes | Array | List of Entry slugs |
        | judges | Yes | Array | List of Judge slugs |
        | rounds | Yes | Array | List of Round slugs |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                score_set:
                  type: string
                entries:
                  type: array
                  items:
                    type: string
                judges:
                  type: array
                  items:
                    type: string
                rounds:
                  type: array
                  items:
                    type: string
  /assignment/{slug}:
    get:
      summary: Get assignment
      tags:
        - Assignment
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
        - name: x-api-language
          in: header
          required: false
          description: Defines expected language.
          schema:
            type: string
      responses:
        '200':
          description: Get assignment
          headers:
            Server:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            X-Powered-By:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Date:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            Content-Encoding:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                          pl_PL:
                            type: string
                  chapter:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                          pl_PL:
                            type: string
                  comments:
                    type: object
                    properties:
                      judging:
                        type: array
                        items:
                          type: object
                          properties:
                            slug:
                              type: string
                            comment:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                            user:
                              type: object
                              properties:
                                slug:
                                  type: string
                                link:
                                  type: string
                                  format: uri
                                name:
                                  type: string
                                first_name:
                                  type: string
                                last_name:
                                  type: string
                      abstention:
                        type: array
                        items:
                          type: object
                          properties:
                            slug:
                              type: string
                            comment:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                            user:
                              type: object
                              properties:
                                slug:
                                  type: string
                                link:
                                  type: string
                                  format: uri
                                name:
                                  type: string
                                first_name:
                                  type: string
                                last_name:
                                  type: string
                      conflict:
                        type: array
                        items:
                          type: object
                          properties:
                            slug:
                              type: string
                            comment:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                            updated_at:
                              type: string
                              format: date-time
                            user:
                              type: object
                              properties:
                                slug:
                                  type: string
                                link:
                                  type: string
                                  format: uri
                                name:
                                  type: string
                                first_name:
                                  type: string
                                last_name:
                                  type: string
                      criteria:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            comments:
                              type: array
                              items:
                                type: object
                                properties:
                                  slug:
                                    type: string
                                  comment:
                                    type: string
                                  created_at:
                                    type: string
                                    format: date-time
                                  updated_at:
                                    type: string
                                    format: date-time
                                  user:
                                    type: object
                                    properties:
                                      slug:
                                        type: string
                                      link:
                                        type: string
                                        format: uri
                                      name:
                                        type: string
                                      first_name:
                                        type: string
                                      last_name:
                                        type: string
                  created:
                    type: string
                    format: date-time
                  entry:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      title:
                        type: string
                  form:
                    type: string
                  judge:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: string
                  method:
                    type: string
                  panels:
                    type: array
                    items: {}
                  role:
                    nullable: true
                  rounds:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        link:
                          type: string
                          format: uri
                        name:
                          type: object
                          properties:
                            en_GB:
                              type: string
                            pl_PL:
                              type: string
                  score_set:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                          pl_PL:
                            type: string
                  slug:
                    type: string
                  status:
                    type: string
                  updated:
                    type: string
                    format: date-time
      description: Returns an assignment identified by it's slug.
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete assignment
      tags:
        - Assignment
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
        - name: x-api-language
          in: header
          required: false
          description: Defines expected language.
          schema:
            type: string
      responses:
        '204':
          description: Delete assignment
          headers:
            Server:
              schema:
                type: string
            Connection:
              schema:
                type: string
            X-Powered-By:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Date:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
      description: Delete an existing assignment.
  /entry/{slug}/recuse:
    put:
      summary: Recuse assignment
      tags:
        - Assignment
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
        - name: x-api-language
          in: header
          required: false
          description: Defines expected language.
          schema:
            type: string
      responses:
        '204':
          description: Recuse assignment
          headers:
            Server:
              schema:
                type: string
            Connection:
              schema:
                type: string
            X-Powered-By:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Date:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
      description: |-
        Recuse a judge from an existing assignment.

        | Parameter | Required | Type | Description |
        | --- | --- | --- | --- |
        | judge | Yes | String | Judge slug |
        | score_set | No | String | Score Set slug |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                judge:
                  type: string
                score_set:
                  type: string
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
  /entry/{slug}/unrecuse:
    put:
      summary: Unrecuse assignment
      tags:
        - Assignment
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
        - name: x-api-language
          in: header
          required: false
          description: Defines expected language.
          schema:
            type: string
      responses:
        '204':
          description: Unrecuse assignment
          headers:
            Server:
              schema:
                type: string
            Connection:
              schema:
                type: string
            X-Powered-By:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Date:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
      description: |-
        Unrecuse a judge from an existing assignment.

        | Parameter | Required | Type | Description |
        | --- | --- | --- | --- |
        | judge | Yes | String | Judge slug |
        | score_set | No | String | Score Set slug |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                judge:
                  type: string
                score_set:
                  type: string
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
  /attachment:
    get:
      summary: List attachments
      tags:
        - Attachment
      parameters:
        - name: entry
          in: query
          required: false
          description: Entry slug
          schema:
            type: string
        - name: tab
          in: query
          required: false
          description: Tab slug
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: Category slug
          schema:
            type: string
        - name: chapter
          in: query
          required: false
          description: Chapter slug
          schema:
            type: string
        - name: season
          in: query
          required: false
          description: Season slug
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: Number between 1 and 100
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Number greater than 0
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: |-
            Column name to order by. The following options are available:
            - created
            - entry
            - order
            - tab
            - updated
          schema:
            type: string
        - name: dir
          in: query
          required: false
          description: |-
            - asc
            - desc
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
        - name: x-api-language
          in: header
          required: false
          description: Defines the languages to include in the response.
          schema:
            type: string
      responses:
        '200':
          description: List attachments
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Set-Cookie:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Content-Encoding:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        entry:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            title:
                              type: string
                        attachment_fields:
                          type: array
                          items:
                            type: object
                            properties:
                              slug:
                                type: string
                              link:
                                type: string
                                format: uri
                              label:
                                type: object
                                properties:
                                  en_GB:
                                    type: string
                              value:
                                type: string
                              translated:
                                type: object
                                properties:
                                  en_GB:
                                    type: string
                        created:
                          type: string
                          format: date-time
                        file:
                          type: object
                          properties:
                            token:
                              type: string
                            link:
                              type: string
                              format: uri
                            download:
                              type: string
                              format: uri
                            filename:
                              type: string
                        order:
                          type: integer
                        tab:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            name:
                              type: object
                              properties:
                                en_GB:
                                  type: string
                        token:
                          type: string
                        updated:
                          type: string
                          format: date-time
                  first_page_url:
                    type: string
                    format: uri
                  from:
                    type: integer
                  last_page:
                    type: integer
                  last_page_url:
                    type: string
                    format: uri
                  next_page_url:
                    type: string
                    format: uri
                  path:
                    type: string
                    format: uri
                  per_page:
                    type: integer
                  prev_page_url:
                    type: string
                  to:
                    type: integer
                  total:
                    type: integer
      description: Returns a list of attachments.
  /attachment/{token}:
    get:
      summary: Get attachment
      tags:
        - Attachment
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '200':
          description: Get attachment
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Content-Encoding:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  entry:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      title:
                        type: string
                  attachment_fields:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        link:
                          type: string
                          format: uri
                        label:
                          type: object
                          properties:
                            en_GB:
                              type: string
                        value:
                          type: string
                        translated:
                          type: object
                          properties:
                            en_GB:
                              type: string
                  created:
                    type: string
                    format: date-time
                  file:
                    type: object
                    properties:
                      token:
                        type: string
                      link:
                        type: string
                        format: uri
                      download:
                        type: string
                        format: uri
                      filename:
                        type: string
                  order:
                    type: integer
                  tab:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  token:
                    type: string
                  updated:
                    type: string
                    format: date-time
      description: Returns an attachment by its token. The response consists of all attachment fields. Files include a download link.
      requestBody:
        content:
          application/json:
            schema:
              type: object
    parameters:
      - name: token
        in: path
        required: true
        description: Attachment token
        schema:
          type: string
    put:
      summary: Update attachment
      tags:
        - Attachment
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '200':
          description: Update attachment
          headers:
            Date:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  entry:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      title:
                        type: string
                  attachment_fields:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        link:
                          type: string
                          format: uri
                        label:
                          type: object
                          properties:
                            en_GB:
                              type: string
                        value:
                          type: string
                        translated:
                          type: object
                          properties:
                            en_GB:
                              type: string
                  created:
                    type: string
                    format: date-time
                  file:
                    type: object
                    properties:
                      token:
                        type: string
                      link:
                        type: string
                        format: uri
                      download:
                        type: string
                        format: uri
                      filename:
                        type: string
                  order:
                    type: integer
                  tab:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  token:
                    type: string
                  updated:
                    type: string
                    format: date-time
      description: |-
        Update an existing attachment.  
        Please note that attachment fields are linked to the attachment and shouldn't be confused with form fields.  
        If you don't have attachment fields you can remove this object from the body of your request.

        | Parameter | Required | Type | Description |
        | --- | --- | --- | --- |
        | attachment_fields | No | array | Object containing key / value pairs. Where the key is the Field slug. e.g. "fJkIjGmB": "Test value" |
        | order | No | Integer | Attachment order |
        | tab | No | Array | Tab slug |
    delete:
      summary: Delete attachment
      tags:
        - Attachment
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '204':
          description: Delete attachment
          headers:
            Date:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
      description: Delete an existing attachment.
  /entry/{entry_slug}/attachment/{tab_slug}:
    post:
      summary: Create attachment
      tags:
        - Attachment
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '201':
          description: Upload entry attachment
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Location:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  link:
                    type: string
                    format: uri
                  file:
                    type: object
                    properties:
                      filename:
                        type: string
                      token:
                        type: string
                      link:
                        type: string
                        format: uri
      description: |-
        Upload an attachment to an entry by its tab.  
        Please note that attachment fields are linked to the attachment and shouldn't be confused with form fields.  
        If you don't have attachment fields you can remove this object from the body of your request.
    parameters:
      - name: entry_slug
        in: path
        required: true
        description: Entry slug
        schema:
          type: string
      - name: tab_slug
        in: path
        required: true
        description: Entry tab slug
        schema:
          type: string
  /category:
    get:
      summary: List categories
      tags:
        - Category
      parameters:
        - name: status
          in: query
          required: false
          description: |-
            - active
            - inactive
          schema:
            type: string
        - name: chapter
          in: query
          required: false
          description: Chapter slug
          schema:
            type: string
        - name: parent
          in: query
          required: false
          description: Category slug
          schema:
            type: string
        - name: season
          in: query
          required: false
          description: Season slug
          schema:
            type: string
        - name: deleted
          in: query
          required: false
          description: |-
            - only (show only deleted categories)
            - included (include deleted categories)
            - none (exclude deleted categories)
          schema:
            type: string
        - name: form
          in: query
          required: false
          description: Form slug
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: Number between 1 and 100
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Number greater than 0
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: |-
            Column name to order by. The following options are available:
            - chapters
            - created
            - divisions
            - entry_count
            - name
            - parent
            - season
            - shortcode
            - status
            - updated
          schema:
            type: string
        - name: dir
          in: query
          required: false
          description: |-
            - asc
            - desc
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
        - name: x-api-language
          in: header
          required: false
          description: Defines the languages to include in the response.
          schema:
            type: string
      responses:
        '200':
          description: List categories
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Set-Cookie:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Content-Encoding:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        chapter_count:
                          type: integer
                        created:
                          type: string
                          format: date-time
                        description:
                          type: object
                          properties:
                            en_GB:
                              type: string
                        divisions:
                          type: integer
                        entry_count:
                          type: integer
                        form:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            name:
                              type: object
                              properties:
                                en_GB:
                                  type: string
                        name:
                          type: object
                          properties:
                            en_GB:
                              type: string
                        parent:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            name:
                              type: object
                              properties:
                                en_GB:
                                  type: string
                        season:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            name:
                              type: object
                              properties:
                                en_GB:
                                  type: string
                        shortcode:
                          type: object
                          properties:
                            en_GB:
                              type: string
                              format: color
                        slug:
                          type: string
                        status:
                          type: string
                        updated:
                          type: string
                          format: date-time
                  first_page_url:
                    type: string
                    format: uri
                  from:
                    type: integer
                  last_page:
                    type: integer
                  last_page_url:
                    type: string
                    format: uri
                  next_page_url:
                    type: string
                  path:
                    type: string
                    format: uri
                  per_page:
                    type: integer
                  prev_page_url:
                    type: string
                  to:
                    type: integer
                  total:
                    type: integer
      description: Returns a list of categories.
    post:
      summary: Create category
      tags:
        - Category
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '201':
          description: Create category
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Location:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapters:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        link:
                          type: string
                          format: uri
                        name:
                          type: object
                          properties:
                            en_GB:
                              type: string
                  created:
                    type: string
                    format: date-time
                  description:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  divisions:
                    type: integer
                  entrant_max_entries:
                    type: integer
                  entry_name_label:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  fill_entry_name:
                    type: boolean
                  form:
                    type: string
                  image_heading:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                        link:
                          type: string
                          format: uri
                        name:
                          type: string
                        download:
                          type: string
                  max_image_width:
                    type: integer
                  name:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  packing_slip_instructions:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  parent:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  pdf_packing_slip:
                    type: boolean
                  season:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  shortcode:
                    type: object
                    properties:
                      en_GB:
                        type: string
                        format: color
                  slug:
                    type: string
                  status:
                    type: string
                  updated:
                    type: string
                    format: date-time
      description: |-
        Create a new category.

        | Parameter | Required | Type | Description |
        | --------- | -------- | ---- | ----------- |
        | season | Yes | String | Season slug |
        | status | Yes | String | One of the following values: <ul> <li>active</li> <li>inactive</li> </ul> |
        | translated | Yes | Array | Array of key / value pairs where keys can be any of the following: <ul> <li>name (Required)</li> <li>description</li> <li>entry_name_label</li> <li>image_heading</li>  <li>packing_slip_instructions</li> <li>shortcode</li> </ul> Values are themselves of type Array containing key / value pairs where the key can be any existing and enabled language code. |
        | chapters | No | Array | Array of Chapter slugs |
        | divisions | No | Integer | Number of divisions |
        | entrant_max_entries | No | Integer | Number of max entries per Entrant |
        | fill_entry_name | No | Boolean | Determines whether to prefill the entry name field on the entry from when that category is selected |
        | max_image_width | No | Integer | Maximum image width |
        | form | No | String | Form slug |
        | parent | No | String | Parent Category slug |
        | pdf_packing_slip | No | Boolean | Determines whether or not to generate a PDF packing slip |
  /category/{slug}:
    get:
      summary: Get category
      tags:
        - Category
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '200':
          description: Get category
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Content-Encoding:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapters:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        link:
                          type: string
                          format: uri
                        name:
                          type: object
                          properties:
                            en_GB:
                              type: string
                  created:
                    type: string
                    format: date-time
                  description:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  divisions:
                    type: integer
                  entrant_max_entries:
                    type: integer
                  entry_name_label:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  fill_entry_name:
                    type: boolean
                  form:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  image_heading:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                        link:
                          type: string
                          format: uri
                        filename:
                          type: string
                        download:
                          type: string
                  max_image_width:
                    type: integer
                  name:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  packing_slip_instructions:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  parent:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  pdf_packing_slip:
                    type: boolean
                  season:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  shortcode:
                    type: object
                    properties:
                      en_GB:
                        type: string
                        format: color
                  slug:
                    type: string
                  status:
                    type: string
                  updated:
                    type: string
                    format: date-time
      description: Returns a category by its slug. The response consists of all category fields. Images include a download link.
    parameters:
      - name: slug
        in: path
        required: true
        description: Category slug
        schema:
          type: string
    put:
      summary: Update category
      tags:
        - Category
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '200':
          description: Update category
          headers:
            Date:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapters:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        link:
                          type: string
                          format: uri
                        name:
                          type: object
                          properties:
                            en_GB:
                              type: string
                  created:
                    type: string
                    format: date-time
                  description:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  divisions:
                    type: integer
                  entrant_max_entries:
                    type: integer
                  entry_name_label:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  fill_entry_name:
                    type: boolean
                  form:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  image_heading:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                        link:
                          type: string
                          format: uri
                        name:
                          type: string
                        download:
                          type: string
                  max_image_width:
                    type: integer
                  name:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  packing_slip_instructions:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  parent:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  pdf_packing_slip:
                    type: boolean
                  season:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                  shortcode:
                    type: object
                    properties:
                      en_GB:
                        type: string
                        format: color
                  slug:
                    type: string
                  status:
                    type: string
                  updated:
                    type: string
                    format: date-time
      description: |-
        Update an existing category.

        | Parameter | Required | Type | Description |
        | --------- | -------- | ---- | ----------- |
        | season | No | String | Season slug |
        | status | No | String | One of the following values: <ul> <li>active</li> <li>inactive</li> </ul> |
        | translated | No| Array | Array of key / value pairs where keys can be any of the following: <ul> <li>name</li> <li>description</li> <li>entry_name_label</li> <li>image_heading</li>  <li>packing_slip_instructions</li> <li>shortcode</li> </ul> Values are themselves of type Array containing key / value pairs where the key can be any existing and enabled language code. |
        | chapters | No | Array | Array of Chapter slugs |
        | divisions | No | Integer | Number of divisions |
        | entrant_max_entries | No | Integer | Number of max entries per Entrant |
        | fill_entry_name | No | Boolean | Determines whether to prefill the entry name field on the entry from when that category is selected. |
        | max_image_width | No | Integer | Maximum image width |
        | parent | No | String | Parent Category slug |
        | pdf_packing_slip | No | Boolean | Determines whether or not to generate a PDF packing slip |
    delete:
      summary: Delete category
      tags:
        - Category
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '204':
          description: Delete category
          headers:
            Date:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
      description: Delete an existing category.
  /category/{slug}/upload:
    post:
      summary: Upload category file
      tags:
        - Category
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '201':
          description: Upload category file
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Location:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                  token:
                    type: string
                  link:
                    type: string
                    format: uri
      description: Upload a category image.
    parameters:
      - name: slug
        in: path
        required: true
        description: Category slug
        schema:
          type: string
  /chapter:
    get:
      summary: List chapters
      tags:
        - Chapter
      parameters:
        - name: status
          in: query
          required: false
          description: |-
            - active
            - inactive
          schema:
            type: string
        - name: season
          in: query
          required: false
          description: |-
            - season slug
            - "all" to show all seasons
          schema:
            type: string
        - name: deleted
          in: query
          required: false
          description: |-
            - only (show only deleted categories)
            - included (include deleted categories)
            - none (exclude deleted categories)
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: Number between 1 and 100
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Number greater than 0
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: |-
            Column name to order by. The following options are available:
            - chapter_count
            - divisions
            - entry_count
            - name
            - parent (slug)
            - season (slug)
            - shortcode
            - status
            - updated
          schema:
            type: string
        - name: dir
          in: query
          required: false
          description: |-
            - asc
            - desc
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
        - name: x-api-language
          in: header
          required: false
          description: Defines the languages to include in the response.
          schema:
            type: string
      responses:
        '200':
          description: List chapters
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Set-Cookie:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Content-Encoding:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_page:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        created:
                          type: string
                          format: date-time
                        managers:
                          type: array
                          items:
                            type: object
                            properties:
                              slug:
                                type: string
                              link:
                                type: string
                                format: uri
                              first_name:
                                type: string
                              last_name:
                                type: string
                        name:
                          type: object
                          properties:
                            en_GB:
                              type: string
                        season:
                          type: object
                          properties:
                            slug:
                              type: string
                            link:
                              type: string
                              format: uri
                            name:
                              type: object
                              properties:
                                en_GB:
                                  type: string
                                  format: utc-millisec
                        slug:
                          type: string
                        status:
                          type: string
                        updated:
                          type: string
                          format: date-time
                  first_page_url:
                    type: string
                    format: uri
                  from:
                    type: integer
                  last_page:
                    type: integer
                  last_page_url:
                    type: string
                    format: uri
                  next_page_url:
                    type: string
                  path:
                    type: string
                    format: uri
                  per_page:
                    type: integer
                  prev_page_url:
                    type: string
                  to:
                    type: integer
                  total:
                    type: integer
      description: Returns a list of chapters.
    post:
      summary: Create chapter
      tags:
        - Chapter
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '201':
          description: Create chapter
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Location:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    format: date-time
                  managers:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        link:
                          type: string
                          format: uri
                        first_name:
                          type: string
                        last_name:
                          type: string
                  name:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  season:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                            format: utc-millisec
                  slug:
                    type: string
                  status:
                    type: string
                  updated:
                    type: string
                    format: date-time
      description: |-
        Create a new chapter.

        | Parameter | Required | Type | Description |
        | --- | --- | --- | --- |
        | season | Yes | String | Season slug |
        | status | Yes | String | One of the following values:<br><br>- active<br>    <br><br>- inactive |
        | translated | No | Array | Array of key / value pairs where keys can be any of the following:<br><br>- name<br>    <br><br>- image_heading |
        | max_image_width | No | Integer | Maximum image width |
        | managers | No | Array fo slugs | Array of user slugs of chapter managers |
  /chapter/{slug}:
    get:
      summary: Get chapter
      tags:
        - Chapter
      parameters:
        - name: Accept
          in: header
          required: true
          description: Defines the response type.
          schema:
            type: string
      responses:
        '200':
          description: Get chapter
          headers:
            Date:
              schema:
                type: string
            Transfer-Encoding:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            ETag:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Strict-Transport-Security:
              schema:
                type: string
            Content-Encoding:
              schema:
                type: string
            Feature-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    format: date-time
                  managers:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        link:
                          type: string
                          format: uri
                        first_name:
                          type: string
                        last_name:
                          type: string
                  name:
                    type: object
                    properties:
                      en_GB:
                        type: string
                  season:
                    type: object
                    properties:
                      slug:
                        type: string
                      link:
                        type: string
                        format: uri
                      name:
                        type: object
                        properties:
                          en_GB:
                            type: string
                            format: utc-millisec
                  slug:
                    type: string
                  status:
                    type: string
                  updated:
                    type: string
                    format: date-time
      description: Returns a chapter by its slug. The response consists of all chapter fields.
    parameters:
      - name: slug
        in: path
        required: true
        description: Chapter slug
        schema:
          type: string
    put:
      summary: Update chapter
      tags:
        - Chapter
      parameters:
        - name: Accept
[...]
