openapi: 3.0.0
info:
  title: Award Force API
  version: '2.2'
  description: API version 2.2
  license:
    name: Creative Force Client Subscription Terms
    url: https://creativeforce.team/agreement/
servers:
  - url: https://api.cr4ce.com
security:
  - ApiKeyAuth: []
paths:
  /account:
    get:
      summary: Retrieve the account
      operationId: GetAccountV22
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Account retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the account associated with the API key.
  /assignment:
    get:
      summary: Retrieve assignments
      operationId: GetAssignmentCollectionV22
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/assignmentSlugFilter'
        - $ref: '#/components/parameters/assignmentStatusFilter'
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/judgeFilter'
        - $ref: '#/components/parameters/methodFilter'
        - $ref: '#/components/parameters/panelFilter'
        - $ref: '#/components/parameters/scoreSetFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/stateFilter'
        - $ref: '#/components/parameters/tagFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/trashedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/assignmentOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Assignments retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves assignments that match the specified filters.
    post:
      summary: Create an assignment
      operationId: PostAssignmentV22
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '202':
          description: |-
            Assignment creation accepted.

            The response body is empty. Created assignments become available via `GET /assignment` once processing completes.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates a new assignment.
      requestBody:
        $ref: '#/components/requestBodies/AssignmentCreate'
  /assignment/{assignment_slug}:
    parameters:
      - $ref: '#/components/parameters/assignmentSlug'
    get:
      summary: Retrieve an assignment
      operationId: GetAssignmentV22
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Assignment retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the assignment identified by the specified slug.
    delete:
      summary: Delete an assignment
      operationId: DeleteAssignmentV22
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: |-
            Assignment removed.

            If the assignment has scores or comments, the record is retained with `method` set to `stray` and remains retrievable via `GET /assignment/{assignment_slug}`. Otherwise the record is removed entirely.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the assignment identified by the specified slug.
      x-mint:
        content: |-
          <Note>
          Only assignments with `method` of `manual` or `random` can be deleted. Other methods (`automatic`, `stray`, `recused`) return `422`.
          </Note>
  /application/{application_slug}/recuse:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Recuse an assignment
      operationId: PutEntryRecuseV22
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: Assignment recused.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Recuses a judge from the assignment for the specified entry.
      requestBody:
        $ref: '#/components/requestBodies/EntryAssignmentRecusal'
  /application/{application_slug}/unrecuse:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Unrecuse an assignment
      operationId: PutEntryUnrecuseV22
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: Assignment recusal removed.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Removes a judge recusal from the assignment for the specified entry.
      requestBody:
        $ref: '#/components/requestBodies/EntryAssignmentRecusal'
  /attachment:
    get:
      summary: Retrieve attachments
      operationId: GetAttachmentCollectionV22
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/entryFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/tabFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/attachmentOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Attachments retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves a list of attachments.
  /attachment/{token}:
    parameters:
      - $ref: '#/components/parameters/token'
    get:
      summary: Retrieve an attachment
      operationId: GetAttachmentV22
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Attachment retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the attachment identified by the specified token.
    put:
      summary: Update an attachment
      operationId: PutAttachmentV22
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Attachment updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the attachment identified by the specified token.
      x-mint:
        content: |-
          <Note>
          Every property in the request body is optional; only properties that are supplied are written. Properties that are omitted retain their current value. On success the response carries the post-update attachment representation.
          </Note>

          <Note>
          Attachment fields are linked to the attachment and are distinct from form fields. If the attachment has no attachment fields, you can omit `attachment_fields` from the request body.
          </Note>
      requestBody:
        $ref: '#/components/requestBodies/AttachmentUpdate'
    delete:
      summary: Delete an attachment
      operationId: DeleteAttachmentV22
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: Attachment deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the attachment identified by the specified token.
  /application/{application_slug}/attachment/{tab_slug}:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
      - $ref: '#/components/parameters/tabSlug'
    post:
      summary: Create an attachment
      operationId: PostEntryAttachmentV22
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '201':
          description: Attachment created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentCreateResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates an attachment on the specified application under the specified tab.
      x-mint:
        content: |-
          <Note>
          The tab must be of type `Attachments`; tabs of other types are rejected.
          </Note>

          <Note>
          Attachment fields are linked to the attachment and are distinct from form fields. If the attachment has no attachment fields, you can omit `attachment_fields` from the request body.
          </Note>

          <Warning>
          The uploaded file is validated and stored before the response is returned; the attachment itself is finalized shortly after. A `GET` on the returned `Location` immediately after the `201` may briefly return a response with a `null` body until finalization is complete.
          </Warning>
      requestBody:
        $ref: '#/components/requestBodies/AttachmentUpload'
  /category:
    get:
      summary: Retrieve categories
      operationId: GetCategoryCollectionV22
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/activeInactiveStatusFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/parentCategoryFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/categoryOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Categories retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves categories.
    post:
      summary: Create a category
      operationId: PostCategoryV22
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/CategoryCreate'
      responses:
        '201':
          description: Category created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates a category.
  /category/{category_slug}:
    parameters:
      - $ref: '#/components/parameters/categorySlug'
    get:
      summary: Retrieve a category
      operationId: GetCategoryV22
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Category retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the category identified by the specified slug.
      x-mint:
        content: |-
          The response includes all category fields.
          Images include a download link.
    put:
      summary: Update a category
      operationId: PutCategoryV22
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/CategoryUpdate'
      responses:
        '200':
          description: Category updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the category identified by the specified slug.
    delete:
      summary: Delete a category
      operationId: DeleteCategoryV22
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Category deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the category identified by the specified slug.
      x-mint:
        content: Any child categories are not deleted. They move up one level in the hierarchy to take the place of the deleted category.
  /category/{category_slug}/upload:
    parameters:
      - $ref: '#/components/parameters/categorySlug'
    post:
      summary: Upload a category file
      operationId: PostCategoryUploadV22
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Category file uploaded.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Uploads a file for the category identified by the specified slug.
      requestBody:
        $ref: '#/components/requestBodies/CategoryUpload'
      x-mint:
        content: |-
          Use this operation to upload a category image.

          <Warning>
          The uploaded file is validated and stored before the response is returned; the image itself is processed shortly after. A `GET` on the returned `Location` immediately after the `201` may briefly return a response with a `null` body until processing is complete.
          </Warning>
  /chapter:
    get:
      summary: Retrieve chapters
      operationId: GetChapterCollectionV22
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/activeInactiveStatusFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/chapterOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Chapters retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves chapters.
    post:
      summary: Create a chapter
      operationId: PostChapterV22
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/ChapterCreate'
      responses:
        '201':
          description: Chapter created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates a chapter.
  /chapter/{chapter_slug}:
    parameters:
      - $ref: '#/components/parameters/chapterSlug'
    get:
      summary: Retrieve a chapter
      operationId: GetChapterV22
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Chapter retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the chapter identified by the specified slug.
    put:
      summary: Update a chapter
      operationId: PutChapterV22
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/ChapterUpdate'
      responses:
        '200':
          description: Chapter updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the chapter identified by the specified slug.
    delete:
      summary: Delete a chapter
      operationId: DeleteChapterV22
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Chapter deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the chapter identified by the specified slug.
  /chapter/{chapter_slug}/upload:
    parameters:
      - $ref: '#/components/parameters/chapterSlug'
    post:
      summary: Upload a chapter file
      operationId: PostChapterUploadV22
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Chapter file uploaded.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Uploads a file for the chapter identified by the specified slug.
      requestBody:
        $ref: '#/components/requestBodies/ChapterUpload'
      x-mint:
        content: |-
          Use this operation to upload a chapter image.

          <Warning>
          The uploaded file is validated and stored before the response is returned; the image itself is processed shortly after. A `GET` on the returned `Location` immediately after the `201` may briefly return a response with a `null` body until processing is complete.
          </Warning>
  /contributor:
    get:
      summary: Retrieve contributors
      operationId: GetContributorCollectionV22
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/entryFilter'
        - $ref: '#/components/parameters/tabFilter'
        - $ref: '#/components/parameters/entryStatusFilter'
        - $ref: '#/components/parameters/entryPaymentStatusFilter'
        - $ref: '#/components/parameters/entryModerationFilter'
        - $ref: '#/components/parameters/entryReviewStatusFilter'
        - $ref: '#/components/parameters/tagFilter'
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/contributorOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Contributors retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributorList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves contributors.
    post:
      summary: Create a contributor
      operationId: PostContributorV22
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/ContributorCreate'
      responses:
        '201':
          description: Contributor created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contributor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates a contributor.
  /contributor/{contributor_slug}:
    parameters:
      - $ref: '#/components/parameters/contributorSlug'
    get:
      summary: Retrieve a contributor
      operationId: GetContributorV22
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Contributor retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contributor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the contributor identified by the specified slug.
    put:
      summary: Update a contributor
      operationId: PutContributorV22
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/ContributorUpdate'
      responses:
        '200':
          description: Contributor updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contributor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the contributor identified by the specified slug.
    delete:
      summary: Delete a contributor
      operationId: DeleteContributorV22
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Contributor deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the contributor identified by the specified slug.
  /document:
    get:
      summary: Retrieve documents
      operationId: GetDocumentCollectionV22
      tags:
        - Document
      parameters:
        - $ref: '#/components/parameters/documentEntrantFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/trashedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/documentOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Documents retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves documents.
    post:
      summary: Create a document
      operationId: PostDocumentV22
      tags:
        - Document
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/DocumentCreate'
      responses:
        '202':
          description: Document creation accepted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates a document.
      x-mint:
        content: |-
          Documents are generated asynchronously. A successful request returns `202 Accepted` with an empty body and does not include a `Location` header.

          The generated document does not exist yet when the response is returned. Poll `GET /document` to retrieve it once generation completes.
  /document/{document_slug}:
    get:
      summary: Retrieve a document
      operationId: GetDocumentV22
      tags:
        - Document
      parameters:
        - $ref: '#/components/parameters/documentSlug'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Document retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the document identified by the specified slug.
    delete:
      summary: Delete a document
      operationId: DeleteDocumentV22
      tags:
        - Document
      parameters:
        - $ref: '#/components/parameters/documentSlug'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: Document deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the document identified by the specified slug.
  /application:
    get:
      summary: Retrieve entries
      operationId: GetEntryCollectionV22
      tags:
        - Application
      parameters:
        - $ref: '#/components/parameters/entryEntrantFilter'
        - $ref: '#/components/parameters/entryModerationFilter'
        - $ref: '#/components/parameters/entryPaymentStatusFilter'
        - $ref: '#/components/parameters/entryPriceFilter'
        - $ref: '#/components/parameters/entryReviewStatusFilter'
        - $ref: '#/components/parameters/entryStatusFilter'
        - $ref: '#/components/parameters/entryTitleFilter'
        - $ref: '#/components/parameters/entryUpdatedAtFilter'
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/tagFilter'
        - $ref: '#/components/parameters/archivedFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/entryOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Entries retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves entries.
    post:
      summary: Create an entry
      operationId: PostEntryV22
      tags:
        - Application
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '201':
          description: Entry created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        $ref: '#/components/requestBodies/EntryCreate'
      description: Creates an entry.
  /application/{application_slug}:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    get:
      summary: Retrieve an entry
      operationId: GetEntryV22
      tags:
        - Application
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Entry retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the entry identified by the specified slug.
    put:
      summary: Update an entry
      operationId: PutEntryV22
      tags:
        - Application
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryUpdate'
      responses:
        '200':
          description: Entry updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the entry identified by the specified slug.
      x-mint:
        content: |-
          <Note>
          Only the properties you include in the request body are updated; omitted properties keep their current values.
          </Note>

          <Note>
          Within `entry_fields`, only the field slugs you include are updated, and any field slug that does not exist on the form for the entry is ignored. For most field types the value you supply replaces the stored value. Table fields are merged cell by cell: include only the cells you want to change, and send a cell with an empty value to clear it.
          </Note>
    delete:
      summary: Delete an entry
      operationId: DeleteEntryV22
      tags:
        - Application
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Entry deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the entry identified by the specified slug. The entry is moved to the trash and can be restored; it is not permanently removed.
  /application/{application_slug}/upload/{field_slug}:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
      - $ref: '#/components/parameters/fieldSlug'
    post:
      summary: Upload an entry file
      operationId: PostEntryUploadV22
      tags:
        - Application
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Entry file uploaded.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Uploads a file to the specified field for the entry identified by the specified slug.
      requestBody:
        $ref: '#/components/requestBodies/FileUpload'
      x-mint:
        content: |-
          Use this operation to upload a file to a file field on the entry.

          <Warning>
          The uploaded file is validated and stored before the response is returned; the file itself is processed shortly after. A `GET` on the returned `Location` immediately after the `201` may briefly return a response with a `null` body until processing is complete.
          </Warning>
  /application/{application_slug}/tag/{tags}:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Tag an entry
      operationId: PutEntryTagV22
      tags:
        - Application
      parameters:
        - $ref: '#/components/parameters/entryTagsToAdd'
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Entry tagged.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Adds tags to the entry identified by the specified slug.
    delete:
      summary: Untag an entry
      operationId: DeleteEntryTagV22
      tags:
        - Application
      parameters:
        - $ref: '#/components/parameters/entryTagsToRemove'
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Entry untagged.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Removes tags from the entry identified by the specified slug.
      x-mint:
        content: |-
          <Note>
          Removing a tag that is not currently applied to the entry has no effect and still returns `201` with the current tags for the entry. Inspect `tags` in the response to confirm the result.
          </Note>
  /application/{application_slug}/update-title:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Update an entry title
      operationId: PutEntryUpdateTitleV22
      tags:
        - Application (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryTitleUpdate'
      responses:
        '200':
          description: Entry title updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the title for the entry identified by the specified slug.
  /application/{application_slug}/update-field/{field_slug}:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
      - $ref: '#/components/parameters/fieldSlug'
    put:
      summary: Update an entry field
      operationId: PutEntryUpdateFieldV22
      tags:
        - Application (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryFieldUpdate'
      responses:
        '200':
          description: Entry field updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates a field for the entry identified by the specified slug.
  /application/{application_slug}/update-category:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Update an application category
      operationId: PutEntryUpdateCategoryV22
      tags:
        - Application (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryCategoryUpdate'
      responses:
        '200':
          description: Application category updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the category for the application identified by the specified slug.
  /application/{application_slug}/update-chapter:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Update an entry chapter
      operationId: PutEntryUpdateChapterV22
      tags:
        - Application (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryChapterUpdate'
      responses:
        '200':
          description: Entry chapter updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the chapter for the entry identified by the specified slug.
  /attachment/{token}/update-field/{field_slug}:
    parameters:
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/fieldSlug'
    put:
      summary: Update an attachment field
      operationId: PutAttachmentUpdateFieldV22
      tags:
        - Application (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Attachment field updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates an attachment field for the attachment identified by the specified token.
      requestBody:
        $ref: '#/components/requestBodies/AttachmentFieldUpdate'
  /contributor/{contributor_slug}/update-field/{field_slug}:
    parameters:
      - $ref: '#/components/parameters/contributorSlug'
      - $ref: '#/components/parameters/fieldSlug'
    put:
      summary: Update a contributor field
      operationId: PutContributorUpdateFieldV22
      tags:
        - Application (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Contributor field updated.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contributor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates a contributor field for the contributor identified by the specified slug.
      requestBody:
        $ref: '#/components/requestBodies/ContributorFieldUpdate'
  /field:
    get:
      summary: Retrieve fields
      operationId: GetFieldCollectionV22
      tags:
        - Field
      parameters:
        - $ref: '#/components/parameters/fieldConditionalFilter'
        - $ref: '#/components/parameters/fieldProtectionFilter'
        - $ref: '#/components/parameters/fieldResourceFilter'
        - $ref: '#/components/parameters/fieldTypeFilter'
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/tabFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/fieldOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Fields retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves fields.
    post:
      summary: Create a field
      operationId: PostFieldV22
      tags:
        - Field
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/FieldCreate'
      responses:
        '201':
          description: Field created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates a field.
  /file/{token}:
    parameters:
      - $ref: '#/components/parameters/token'
    get:
      summary: Retrieve file information
      operationId: GetFileV22
      tags:
        - File
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: File information retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves file information for the file identified by the specified token.
  /grant-status:
    get:
      summary: Retrieve grant statuses
      operationId: GetGrantStatusCollectionV22
      tags:
        - Grant status
      parameters:
        - $ref: '#/components/parameters/grantStatusSlugFilter'
        - $ref: '#/components/parameters/trashedFilter'
        - $ref: '#/components/parameters/grantStatusOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Grant statuses retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantStatusList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves grant statuses.
  /grant-status/{grant_status_slug}:
    get:
      summary: Retrieve a grant status
      operationId: GetGrantStatusV22
      tags:
        - Grant status
      parameters:
        - $ref: '#/components/parameters/grantStatusSlug'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Grant status retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the grant status identified by the specified slug.
  /leaderboard:
    get:
      summary: Retrieve leaderboard results
      operationId: GetLeaderboardCollectionV22
      tags:
        - Leaderboard
      parameters:
        - $ref: '#/components/parameters/leaderboardScoreSetFilter'
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/entryFilter'
        - $ref: '#/components/parameters/tagFilter'
        - $ref: '#/components/parameters/archivedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/leaderboardOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Leaderboard results retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves leaderboard results.
  /order:
    get:
      summary: Retrieve orders
      operationId: GetOrderCollectionV22
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/orderStatusFilter'
        - $ref: '#/components/parameters/orderTestFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/orderOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Orders retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves orders.
  /order/{order_slug}:
    parameters:
      - $ref: '#/components/parameters/orderSlug'
    get:
      summary: Retrieve an order
      operationId: GetOrderV22
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Order retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the order identified by the specified slug.
    put:
      summary: Update an order
      operationId: PutOrderV22
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/OrderUpdate'
      responses:
        '200':
          description: Order updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the billing information and status of the order identified by the specified slug.
  /order/{order_slug}/items:
    parameters:
      - $ref: '#/components/parameters/orderSlug'
    get:
      summary: Retrieve order items
      operationId: GetOrderItemsV22
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Order items retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderItemList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the line items belonging to the order identified by the specified slug.
  /action-task:
    post:
      summary: Create a review task
      operationId: PostReviewTaskV22
      tags:
        - Action task
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Review task created.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewTask'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        $ref: '#/components/requestBodies/ReviewTaskCreate'
      description: Creates a review task.
    get:
      summary: Retrieve review tasks
      operationId: GetReviewTaskCollectionV22
      tags:
        - Action task
      parameters:
        - $ref: '#/components/parameters/reviewTaskActionAtFilter'
        - $ref: '#/components/parameters/reviewTaskCreatedAtFilter'
        - $ref: '#/components/parameters/reviewTaskUpdatedAtFilter'
        - $ref: '#/components/parameters/decisionFilter'
        - $ref: '#/components/parameters/reviewStageFilter'
        - $ref: '#/components/parameters/reviewerFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Review tasks retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewTaskList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves review tasks.
  /action-task/{token}:
    parameters:
      - $ref: '#/components/parameters/token'
    get:
      summary: Retrieve a review task
      operationId: GetReviewTaskV22
      tags:
        - Action task
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Review task retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewTask'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the review task identified by the specified token.
    delete:
      summary: Delete a review task
      operationId: DeleteReviewTaskV22
      tags:
        - Action task
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: Review task deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the review task identified by the specified token.
  /round:
    get:
      summary: Retrieve rounds
      operationId: GetRoundCollectionV22
      tags:
        - Round
      parameters:
        - $ref: '#/components/parameters/roundTypeFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/roundSlugFilter'
        - $ref: '#/components/parameters/roundOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/trashedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Rounds retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves rounds.
  /round/{round_slug}:
    parameters:
      - $ref: '#/components/parameters/roundSlug'
    get:
      summary: Retrieve a round
      operationId: GetRoundV22
      tags:
        - Round
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Round retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Round'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the round identified by the specified slug.
  /score-set:
    get:
      summary: Retrieve score sets
      operationId: GetScoreSetCollectionV22
      tags:
        - Score set
      parameters:
        - $ref: '#/components/parameters/scoreSetModeFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/scoreSetOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/archivedFilter'
        - $ref: '#/components/parameters/trashedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Score sets retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreSetList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves score sets.
  /score-set/{score_set_slug}:
    parameters:
      - $ref: '#/components/parameters/scoreSetSlug'
    get:
      summary: Retrieve a score set
      operationId: GetScoreSetV22
      tags:
        - Score set
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Score set retrieved.
[...]
