openapi: 3.0.0
info:
  title: Award Force API
  version: '2.3'
  description: API version 2.3
servers:
  - url: https://api.cr4ce.com
security:
  - ApiKeyAuth: []
paths:
  /account:
    get:
      summary: Retrieve the account
      operationId: GetAccountV23
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Account retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the account associated with the API key.
  /assignment:
    get:
      summary: Retrieve assignments
      operationId: GetAssignmentCollectionV23
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/assignmentSlugFilter'
        - $ref: '#/components/parameters/assignmentStatusFilter'
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/judgeFilter'
        - $ref: '#/components/parameters/methodFilter'
        - $ref: '#/components/parameters/panelFilter'
        - $ref: '#/components/parameters/scoreSetFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/stateFilter'
        - $ref: '#/components/parameters/tagFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/trashedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/assignmentOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Assignments retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves assignments that match the specified filters.
    post:
      summary: Create an assignment
      operationId: PostAssignmentV23
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '202':
          description: |-
            Assignment creation accepted.

            The response body is empty. Created assignments become available via `GET /assignment` once processing completes.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates a new assignment.
      requestBody:
        $ref: '#/components/requestBodies/AssignmentCreate'
  /assignment/{assignment_slug}:
    parameters:
      - $ref: '#/components/parameters/assignmentSlug'
    get:
      summary: Retrieve an assignment
      operationId: GetAssignmentV23
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Assignment retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the assignment identified by the specified slug.
    delete:
      summary: Delete an assignment
      operationId: DeleteAssignmentV23
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: |-
            Assignment removed.

            If the assignment has scores or comments, the record is retained with `method` set to `stray` and remains retrievable via `GET /assignment/{assignment_slug}`. Otherwise the record is removed entirely.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the assignment identified by the specified slug.
      x-mint:
        content: |-
          <Note>
          Only assignments with `method` of `manual` or `random` can be deleted. Other methods (`automatic`, `stray`, `recused`) return `422`.
          </Note>
  /entry/{entry_slug}/recuse:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Recuse an assignment
      operationId: PutEntryRecuseV23
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: Assignment recused.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Recuses a judge from the assignment for the specified entry.
      requestBody:
        $ref: '#/components/requestBodies/EntryAssignmentRecusal'
  /entry/{entry_slug}/unrecuse:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Unrecuse an assignment
      operationId: PutEntryUnrecuseV23
      tags:
        - Assignment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: Assignment recusal removed.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Removes a judge recusal from the assignment for the specified entry.
      requestBody:
        $ref: '#/components/requestBodies/EntryAssignmentRecusal'
  /attachment:
    get:
      summary: Retrieve attachments
      operationId: GetAttachmentCollectionV23
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/entryFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/tabFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/attachmentOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Attachments retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves a list of attachments.
  /attachment/{token}:
    parameters:
      - $ref: '#/components/parameters/token'
    get:
      summary: Retrieve an attachment
      operationId: GetAttachmentV23
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Attachment retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves the attachment identified by the specified token.
    put:
      summary: Update an attachment
      operationId: PutAttachmentV23
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Attachment updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Updates the attachment identified by the specified token.
      x-mint:
        content: |-
          <Note>
          Every property in the request body is optional; only properties that are supplied are written. Properties that are omitted retain their current value. On success the response carries the post-update attachment representation.
          </Note>

          <Note>
          Attachment fields are linked to the attachment and are distinct from form fields. If the attachment has no attachment fields, you can omit `attachment_fields` from the request body.
          </Note>
      requestBody:
        $ref: '#/components/requestBodies/AttachmentUpdate'
    delete:
      summary: Delete an attachment
      operationId: DeleteAttachmentV23
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '204':
          description: Attachment deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Deletes the attachment identified by the specified token.
  /entry/{entry_slug}/attachment/{tab_slug}:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
      - $ref: '#/components/parameters/tabSlug'
    post:
      summary: Create an attachment
      operationId: PostEntryAttachmentV23
      tags:
        - Attachment
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '201':
          description: Attachment created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentCreateResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates an attachment on the specified entry under the specified tab.
      x-mint:
        content: |-
          <Note>
          The tab must be of type `Attachments`; tabs of other types are rejected.
          </Note>

          <Note>
          Attachment fields are linked to the attachment and are distinct from form fields. If the attachment has no attachment fields, you can omit `attachment_fields` from the request body.
          </Note>

          <Warning>
          The uploaded file is validated and stored before the response is returned; the attachment itself is finalized shortly after. A `GET` on the returned `Location` immediately after the `201` may briefly return a response with a `null` body until finalization is complete.
          </Warning>
      requestBody:
        $ref: '#/components/requestBodies/AttachmentUpload'
  /category:
    get:
      summary: Retrieve categories
      operationId: GetCategoryCollectionV23
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/activeInactiveStatusFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/parentCategoryFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/categoryOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Categories retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Retrieves categories.
    post:
      summary: Create a category
      operationId: PostCategoryV23
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      requestBody:
        $ref: '#/components/requestBodies/CategoryCreate'
      responses:
        '201':
          description: Category created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Creates a category.
  /category/{category_slug}:
    parameters:
      - $ref: '#/components/parameters/categorySlug'
    get:
      summary: Retrieve a category
      operationId: GetCategoryV23
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Category retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      description: Retrieves the category identified by the specified slug.
      x-mint:
        content: |-
          The response includes all category fields.
          Images include a download link.
    put:
      summary: Update a category
      operationId: PutCategoryV23
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/CategoryUpdate'
      responses:
        '200':
          description: Category updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      description: Updates the category identified by the specified slug.
    delete:
      summary: Delete a category
      operationId: DeleteCategoryV23
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Category deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Deletes the category identified by the specified slug.
  /category/{category_slug}/upload:
    parameters:
      - $ref: '#/components/parameters/categorySlug'
    post:
      summary: Upload a category file
      operationId: PostCategoryUploadV23
      tags:
        - Category
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Category file uploaded.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      description: Uploads a file for the category identified by the specified slug.
      requestBody:
        $ref: '#/components/requestBodies/CategoryUpload'
      x-mint:
        content: |-
          Use this operation to upload a category image.

          <Warning>
          The uploaded file is validated and stored before the response is returned; the image itself is processed shortly after. A `GET` on the returned `Location` immediately after the `201` may briefly return a response with a `null` body until processing is complete.
          </Warning>
  /chapter:
    get:
      summary: Retrieve chapters
      operationId: GetChapterCollectionV23
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/activeInactiveStatusFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/chapterOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Chapters retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterList'
      description: Retrieves chapters.
    post:
      summary: Create a chapter
      operationId: PostChapterV23
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/ChapterCreate'
      responses:
        '201':
          description: Chapter created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'
      description: Creates a chapter.
  /chapter/{chapter_slug}:
    parameters:
      - $ref: '#/components/parameters/chapterSlug'
    get:
      summary: Retrieve a chapter
      operationId: GetChapterV23
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Chapter retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'
      description: Retrieves the chapter identified by the specified slug.
    put:
      summary: Update a chapter
      operationId: PutChapterV23
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/ChapterUpdate'
      responses:
        '200':
          description: Chapter updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'
      description: Updates the chapter identified by the specified slug.
    delete:
      summary: Delete a chapter
      operationId: DeleteChapterV23
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Chapter deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Deletes the chapter identified by the specified slug.
  /chapter/{chapter_slug}/upload:
    parameters:
      - $ref: '#/components/parameters/chapterSlug'
    post:
      summary: Upload a chapter file
      operationId: PostChapterUploadV23
      tags:
        - Chapter
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Chapter file uploaded.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
      description: Uploads a file for the chapter identified by the specified slug.
  /contributor:
    get:
      summary: Retrieve contributors
      operationId: GetContributorCollectionV23
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/contributorOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Contributors retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContributorList'
      description: Retrieves contributors.
    post:
      summary: Create a contributor
      operationId: PostContributorV23
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/ContributorCreate'
      responses:
        '201':
          description: Contributor created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contributor'
      description: Creates a contributor.
  /contributor/{contributor_slug}:
    parameters:
      - $ref: '#/components/parameters/contributorSlug'
    get:
      summary: Retrieve a contributor
      operationId: GetContributorV23
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Contributor retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contributor'
      description: Retrieves the contributor identified by the specified slug.
    put:
      summary: Update a contributor
      operationId: PutContributorV23
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/ContributorUpdate'
      responses:
        '200':
          description: Contributor updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contributor'
      description: Updates the contributor identified by the specified slug.
    delete:
      summary: Delete a contributor
      operationId: DeleteContributorV23
      tags:
        - Contributor
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Contributor deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Deletes the contributor identified by the specified slug.
  /entry:
    get:
      summary: Retrieve entries
      operationId: GetEntryCollectionV23
      tags:
        - Entry
      parameters:
        - $ref: '#/components/parameters/entryEntrantFilter'
        - $ref: '#/components/parameters/entryModerationFilter'
        - $ref: '#/components/parameters/entryPaymentStatusFilter'
        - $ref: '#/components/parameters/entryPriceFilter'
        - $ref: '#/components/parameters/entryReviewStatusFilter'
        - $ref: '#/components/parameters/entryStatusFilter'
        - $ref: '#/components/parameters/entryTitleFilter'
        - $ref: '#/components/parameters/entryUpdatedAtFilter'
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/tagFilter'
        - $ref: '#/components/parameters/archivedFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/entryOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Entries retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryList'
      description: Retrieves entries.
    post:
      summary: Create an entry
      operationId: PostEntryV23
      tags:
        - Entry
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Entry created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryCreateResult'
      requestBody:
        $ref: '#/components/requestBodies/EntryCreate'
      description: Creates an entry.
  /entry/{entry_slug}:
    parameters:
      - $ref: '#/components/parameters/entryIdentifier'
    get:
      summary: Retrieve an entry
      operationId: GetEntryV23
      tags:
        - Entry
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Entry retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
      description: Retrieves the entry identified by the specified slug or title.
    put:
      summary: Update an entry
      operationId: PutEntryV23
      tags:
        - Entry
      parameters:
        - $ref: '#/components/parameters/entrySlug'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryUpdate'
      responses:
        '200':
          description: Entry updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryUpdateResult'
      description: Updates the entry identified by the specified slug.
    delete:
      summary: Delete an entry
      operationId: DeleteEntryV23
      tags:
        - Entry
      parameters:
        - $ref: '#/components/parameters/entrySlug'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Entry deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Deletes the entry identified by the specified slug.
  /entry/{entry_slug}/upload/{field_slug}:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
      - $ref: '#/components/parameters/fieldSlug'
    post:
      summary: Upload an entry file
      operationId: PostEntryUploadV23
      tags:
        - Entry
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: Entry file uploaded.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
      description: Uploads a file to the specified field for the entry identified by the specified slug.
  /entry/{entry_slug}/tag/{tags}:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Tag an entry
      operationId: PutEntryTagV23
      tags:
        - Entry
      parameters:
        - $ref: '#/components/parameters/entryTagsToAdd'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Entry tagged.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryTagResult'
      description: Adds tags to the entry identified by the specified slug or title.
    delete:
      summary: Untag an entry
      operationId: DeleteEntryTagV23
      tags:
        - Entry
      parameters:
        - $ref: '#/components/parameters/entryTagsToRemove'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Entry untagged.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntryTagResult'
      description: Removes tags from the entry identified by the specified slug or title.
  /entry/{entry_slug}/update-title:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Update an entry title
      operationId: PutEntryUpdateTitleV23
      tags:
        - Entry (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryTitleUpdate'
      responses:
        default:
          description: Entry title updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Updates the title for the entry identified by the specified slug.
  /entry/{entry_slug}/update-field/{field_slug}:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
      - $ref: '#/components/parameters/fieldSlug'
    put:
      summary: Update an entry field
      operationId: PutEntryUpdateFieldV23
      tags:
        - Entry (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryFieldUpdate'
      responses:
        default:
          description: Entry field updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Updates a field for the entry identified by the specified slug.
  /entry/{entry_slug}/update-category:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Update an entry category
      operationId: PutEntryUpdateCategoryV23
      tags:
        - Entry (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryCategoryUpdate'
      responses:
        default:
          description: Entry category updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Updates the category for the entry identified by the specified slug.
  /entry/{entry_slug}/update-chapter:
    parameters:
      - $ref: '#/components/parameters/entrySlug'
    put:
      summary: Update an entry chapter
      operationId: PutEntryUpdateChapterV23
      tags:
        - Entry (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/EntryChapterUpdate'
      responses:
        default:
          description: Entry chapter updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Updates the chapter for the entry identified by the specified slug.
  /attachment/{token}/update-field/{field_slug}:
    parameters:
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/fieldSlug'
    put:
      summary: Update an attachment field
      operationId: PutAttachmentUpdateFieldV23
      tags:
        - Entry (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        default:
          description: Attachment field updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Updates an attachment field for the attachment identified by the specified token.
      requestBody:
        $ref: '#/components/requestBodies/AttachmentFieldUpdate'
  /contributor/{contributor_slug}/update-field/{field_slug}:
    parameters:
      - $ref: '#/components/parameters/contributorSlug'
      - $ref: '#/components/parameters/fieldSlug'
    put:
      summary: Update a contributor field
      operationId: PutContributorUpdateFieldV23
      tags:
        - Entry (realtime)
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        default:
          description: Contributor field updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Updates a contributor field for the contributor identified by the specified slug.
      requestBody:
        $ref: '#/components/requestBodies/ContributorFieldUpdate'
  /field:
    get:
      summary: Retrieve fields
      operationId: GetFieldCollectionV23
      tags:
        - Field
      parameters:
        - $ref: '#/components/parameters/fieldConditionalFilter'
        - $ref: '#/components/parameters/fieldProtectionFilter'
        - $ref: '#/components/parameters/fieldResourceFilter'
        - $ref: '#/components/parameters/fieldTypeFilter'
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/tabFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/fieldOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        default:
          description: Fields retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldList'
      description: Retrieves fields.
  /file/{token}:
    parameters:
      - $ref: '#/components/parameters/token'
    get:
      summary: Retrieve file information
      operationId: GetFileV23
      tags:
        - File
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: File information retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
      description: Retrieves file information for the file identified by the specified token.
  /leaderboard:
    get:
      summary: Retrieve leaderboard results
      operationId: GetLeaderboardCollectionV23
      tags:
        - Leaderboard
      parameters:
        - $ref: '#/components/parameters/leaderboardScoreSetFilter'
        - $ref: '#/components/parameters/categoryFilter'
        - $ref: '#/components/parameters/chapterFilter'
        - $ref: '#/components/parameters/entryFilter'
        - $ref: '#/components/parameters/tagFilter'
        - $ref: '#/components/parameters/archivedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/leaderboardOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
      responses:
        default:
          description: Leaderboard results retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Retrieves leaderboard results.
  /order:
    get:
      summary: Retrieve orders
      operationId: GetOrderCollectionV23
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/orderStatusFilter'
        - $ref: '#/components/parameters/orderTestFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/orderOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Orders retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
      description: Retrieves orders.
  /order/{order_slug}:
    parameters:
      - $ref: '#/components/parameters/orderSlug'
    get:
      summary: Retrieve an order
      operationId: GetOrderV23
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Order retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
      description: Retrieves the order identified by the specified slug.
    put:
      summary: Update an order
      operationId: PutOrderV23
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/OrderUpdate'
      responses:
        '200':
          description: Order updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
      description: Updates the billing information and status of the order identified by the specified slug.
  /review-task:
    post:
      summary: Create a review task
      operationId: PostReviewTaskV23
      tags:
        - Review task
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        default:
          description: |-
            Review task created.
            TBD: response schema pending API verification.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Creates a review task.
    get:
      summary: Retrieve review tasks
      operationId: GetReviewTaskCollectionV23
      tags:
        - Review task
      parameters:
        - $ref: '#/components/parameters/reviewTaskActionAtFilter'
        - $ref: '#/components/parameters/reviewTaskCreatedAtFilter'
        - $ref: '#/components/parameters/reviewTaskUpdatedAtFilter'
        - $ref: '#/components/parameters/decisionFilter'
        - $ref: '#/components/parameters/reviewStageFilter'
        - $ref: '#/components/parameters/reviewerFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/Accept'
      responses:
        default:
          description: |-
            Review tasks retrieved.
            TBD: response schema pending API verification.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Retrieves review tasks.
  /review-task/{token}:
    parameters:
      - $ref: '#/components/parameters/token'
    get:
      summary: Retrieve a review task
      operationId: GetReviewTaskV23
      tags:
        - Review task
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        default:
          description: |-
            Review task retrieved.
            TBD: response schema pending API verification.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Retrieves the review task identified by the specified token.
  /round:
    get:
      summary: Retrieve rounds
      operationId: GetRoundCollectionV23
      tags:
        - Round
      parameters:
        - $ref: '#/components/parameters/roundTypeFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Rounds retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundList'
      description: Retrieves rounds.
  /round/{round_slug}:
    parameters:
      - $ref: '#/components/parameters/roundSlug'
    get:
      summary: Retrieve a round
      operationId: GetRoundV23
      tags:
        - Round
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Round retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Round'
      description: Retrieves the round identified by the specified slug.
  /score-set:
    get:
      summary: Retrieve score sets
      operationId: GetScoreSetCollectionV23
      tags:
        - Score set
      parameters:
        - $ref: '#/components/parameters/scoreSetModeFilter'
        - $ref: '#/components/parameters/formFilter'
        - $ref: '#/components/parameters/seasonFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Score sets retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreSetList'
      description: Retrieves score sets.
  /score-set/{score_set_slug}:
    parameters:
      - $ref: '#/components/parameters/scoreSetSlug'
    get:
      summary: Retrieve a score set
      operationId: GetScoreSetV23
      tags:
        - Score set
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Score set retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreSet'
      description: Retrieves the score set identified by the specified slug.
  /season:
    get:
      summary: Retrieve seasons
      operationId: GetSeasonCollectionV23
      tags:
        - Season
      parameters:
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/seasonOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Seasons retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonList'
      description: Retrieves seasons.
  /season/{season_slug}:
    parameters:
      - $ref: '#/components/parameters/seasonSlug'
    get:
      summary: Retrieve a season
      operationId: GetSeasonV23
      tags:
        - Season
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Season retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
      description: Retrieves the season identified by the specified slug.
  /tax:
    get:
      summary: Retrieve taxes
      operationId: GetTaxCollectionV23
      tags:
        - Tax
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Taxes retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxList'
      description: Retrieves taxes.
  /user:
    get:
      summary: Retrieve users
      operationId: GetUserCollectionV23
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/userActiveInSeasonFilter'
        - $ref: '#/components/parameters/userConfirmationFilter'
        - $ref: '#/components/parameters/userEntriesFilter'
        - $ref: '#/components/parameters/userLanguageFilter'
        - $ref: '#/components/parameters/userRoleFilter'
        - $ref: '#/components/parameters/userSeasonJoinedFilter'
        - $ref: '#/components/parameters/deletedFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/userOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/X-Api-Language'
      responses:
        '200':
          description: Users retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
      description: Retrieves users.
    post:
      summary: Create a user
      operationId: PostUserV23
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/UserCreate'
      responses:
        '201':
          description: User created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      description: Creates a user.
  /user/{user_slug}:
    get:
      summary: Retrieve a user
      operationId: GetUserV23
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/userSlugParameter'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: User retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      description: Retrieves the user identified by the specified slug or email address.
      x-mint:
        content: The response includes all user fields. File fields include a download link.
    put:
      summary: Update a user
      operationId: PutUserV23
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/userSlug'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/UserUpdate'
      responses:
        '200':
          description: User updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      description: Updates the user identified by the specified slug.
    delete:
      summary: Delete a user
      operationId: DeleteUserV23
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/userSlug'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: User deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Deletes the user identified by the specified slug.
  /user/{user_slug}/upload/{field_slug}:
    parameters:
      - $ref: '#/components/parameters/userSlug'
      - $ref: '#/components/parameters/fieldSlug'
    post:
      summary: Upload a user file
      operationId: PostUserUploadV23
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: File uploaded.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResult'
      description: Uploads a file to the specified user field.
      requestBody:
        $ref: '#/components/requestBodies/FileUpload'
  /user/{user_slug}/auth-token:
    parameters:
      - $ref: '#/components/parameters/userSlug'
    get:
      summary: Retrieve a user auth token
      operationId: GetUserAuthTokenV23
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Auth token retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth_token:
                    type: string
      description: Retrieves an SSO auth token for the specified user.
      x-mint:
        content: |-
          The token allows the user to log into the app using SSO.

          <Card
            title="Creating your own SSO integration"
            icon="key"
            href="https://support.awardforce.com/hc/en-us/articles/360002282716-Creating-your-own-SSO-integration"
          >
            Learn how to integrate Award Force with your own SSO provider.
          </Card>
  /webhook:
    get:
      summary: Retrieve webhooks
      operationId: GetWebhookCollectionV23
      tags:
        - Webhook
      parameters:
        - $ref: '#/components/parameters/webhookHttpMethodFilter'
        - $ref: '#/components/parameters/webhookSubscriptionEventFilter'
        - $ref: '#/components/parameters/webhookUrlFilter'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/webhookOrder'
        - $ref: '#/components/parameters/sortDirection'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Webhooks retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookList'
      description: Retrieves webhooks.
    post:
      summary: Create a webhook
      operationId: PostWebhookV23
      tags:
        - Webhook
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/WebhookCreate'
      responses:
        '201':
          description: Webhook created.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: Creates a webhook.
      x-mint:
        content: |-
          Each webhook subscribes to one or more events. When a subscribed event occurs, the webhook URL receives a payload describing the event.

          **Supported subscription events:**

          - allocation_created
          - allocation_payment_created
          - allocation_payment_deleted
          - allocation_payment_status_changed
          - allocation_payment_updated
          - assignment_completed
          - assignment_created
          - collaborator_invited
          - document_created
          - document_deleted
          - document_updated
          - entry_created
          - entry_eligible
          - entry_ineligible
          - entry_moderated
          - entry_resubmitted
          - entry_submitted
          - entry_tagged
          - entry_updated
          - field_value_updated
          - membership_registered (user created)
          - payment_pending
          - payment_success
          - review_task_created
          - review_task_submitted
          - role_granted
          - user_updated
  /webhook/{webhook_slug}:
    get:
      summary: Retrieve a webhook
      operationId: GetWebhookV23
      tags:
        - Webhook
      parameters:
        - $ref: '#/components/parameters/webhookSlug'
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Webhook retrieved.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: Retrieves the webhook identified by the specified slug.
    put:
      summary: Update a webhook
      operationId: PutWebhookV23
      tags:
        - Webhook
      parameters:
        - $ref: '#/components/parameters/webhookSlug'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        $ref: '#/components/requestBodies/WebhookUpdate'
      responses:
        '200':
          description: Webhook updated.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: Updates the webhook identified by the specified slug.
    delete:
      summary: Delete a webhook
      operationId: DeleteWebhookV23
      tags:
        - Webhook
      parameters:
        - $ref: '#/components/parameters/webhookSlug'
        - $ref: '#/components/parameters/Accept'
      responses:
        '204':
          description: Webhook deleted.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      description: Deletes the webhook identified by the specified slug.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: |-
        API key used to authenticate and authorise every request.
        Include it in the `x-api-key` header.
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: Defines the response type.
      schema:
        type: string
        enum:
          - application/vnd.Creative Force.v2.3+json
          - application/vnd.Creative Force.v2.3+xml
    X-Api-Language:
      name: x-api-language
      in: header
      required: false
      description: |-
        Defines the languages included in the response. If omitted, the account default language is used.

        Value `all` overrides any other values present.
      style: simple
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - all
            - ar_AR
            - bg_BG
            - bn_IN
            - ca_ES
            - cs_CZ
            - cy_GB
            - da_DK
            - de_DE
            - en_GB
            - en_US
            - el_GR
            - es_NN
            - es_LA
            - et_EE
            - fa_NN
            - fi_FI
            - fr_FR
            - fr_CA
            - he_IL
            - hi_IN
            - hr_HR
            - hu_HU
            - hy_AM
            - it_IT
            - ja_JP
            - ko_KR
            - lt_LT
            - ms_MY
            - nl_NL
            - nb_NO
            - pl_PL
            - pt_BR
            - ro_RO
            - ru_RU
            - sk_SK
            - sl_SI
            - sq_AL
            - sr_RS
            - sv_SE
            - sw_NN
            - th_TH
            - tr_TR
            - uk_UA
            - vi_VN
            - zh_CN
            - zh_HK
      example:
        - en_GB
        - fr_FR
    assignmentSlugFilter:
      name: slug
      in: query
      required: false
      description: Filter to a single assignment by slug. Returns at most one item.
      schema:
        type: string
        pattern: ^[A-Za-z0-9]{24}[JR]$
    assignmentStatusFilter:
      name: status
      in: query
      required: false
      description: Filter by assignment status.
      schema:
        type: string
        enum:
          - none
          - in_progress
          - complete
          - abstained
    categoryFilter:
      name: category
      in: query
      required: false
      description: Filter by category slug.
      schema:
        type: string
    chapterFilter:
      name: chapter
      in: query
      required: false
      description: Filter by chapter slug.
      schema:
        type: string
    judgeFilter:
      name: judge
      in: query
      required: false
      description: Filter by judge slug.
      schema:
        type: string
    methodFilter:
      name: method
      in: query
      required: false
      description: Filter by assignment method.
      schema:
        type: string
        enum:
          - automatic
          - manual
          - random
          - stray
          - recused
    panelFilter:
      name: panel
      in: query
      required: false
      description: Filter by panel slug.
      schema:
        type: string
    scoreSetFilter:
      name: score_set
      in: query
      required: false
      description: Filter by score set slug.
      schema:
        type: string
    seasonFilter:
      name: season
      in: query
      required: false
      description: |-
        Filter by season slug.
        Use `all` to show all seasons.
      schema:
        type: string
    stateFilter:
      name: state
      in: query
      required: false
      description: |-
        Filter by entry state.
        * `current` - Only current (non-archived) entries.
        * `archived` - Only archived entries.
        * `all` - Include both current and archived entries.
        * `only` - Equivalent to `archived`.
        * `none` - Exclude all entries.
      schema:
        type: string
        enum:
          - current
          - archived
          - all
          - only
          - none
    tagFilter:
      name: tag
      in: query
      required: false
      description: Filter by tag.
      schema:
        type: string
    deletedFilter:
      name: deleted
      in: query
      required: false
      description: |-
        Filter by deletion mode.
        * `only` - Show only deleted resources.
        * `included` - Include deleted resources.
        * `none` - Exclude deleted resources.
      schema:
        type: string
        enum:
          - only
          - included
          - none
    trashedFilter:
      name: trashed
      in: query
      required: false
      description: |-
        Filter by soft-deletion mode.
        * `only` - Show only soft-deleted resources.
        * `all` - Include soft-deleted resources alongside live ones.
        * `none` - Exclude soft-deleted resources.
      schema:
        type: string
        enum:
          - only
          - all
          - none
    page:
      name: page
      in: query
      required: false
      description: Specify the page number to return.
      schema:
        type: string
    perPage:
      name: per_page
      in: query
      required: false
      description: Limit the number of items returned to between 1 and 100.
      schema:
        type: string
    assignmentOrder:
      name: order
      in: query
      required: false
      description: |-
        Sort by a supported assignment column. Unsupported values fall back
        silently to the default sort (`updated` descending).
      schema:
        type: string
        enum:
          - method
          - status
          - updated
    sortDirection:
      name: dir
      in: query
      required: false
      description: Sort in ascending or descending order.
      schema:
        type: string
        enum:
          - asc
          - desc
    assignmentSlug:
      name: assignment_slug
      in: path
      required: true
      description: Slug of the assignment.
      schema:
        type: string
        pattern: ^[A-Za-z0-9]{24}[JR]$
    entrySlug:
      name: entry_slug
      in: path
      required: true
      description: Slug of the entry.
      schema:
        type: string
        pattern: ^[A-Za-z]{8}$
    entryFilter:
      name: entry
      in: query
      required: false
      description: Filter by entry slug.
      schema:
        type: string
    tabFilter:
      name: tab
      in: query
      required: false
      description: Filter by tab slug.
      schema:
        type: string
    attachmentOrder:
      name: order
      in: query
      required: false
      description: |-
        Sort by a supported attachment field. Unsupported values fall back
        silently to the default sort (`updated` descending).
      schema:
        type: string
        enum:
          - created
          - entry
          - order
          - tab
          - updated
    token:
      name: token
      in: path
      description: Token string.
      required: true
      schema:
        type: string
        pattern: ^[A-Za-z0-9]{16}$|^[A-Za-z0-9]{32}$
    tabSlug:
      name: tab_slug
      in: path
      required: true
      description: Entry tab slug
      schema:
        type: string
        pattern: ^[A-Za-z]{8}$
    activeInactiveStatusFilter:
      name: status
      in: query
      required: false
      description: Filter by status.
      schema:
        type: string
        enum:
          - active
          - inactive
    formFilter:
      name: form
      in: query
      required: false
      description: |-
        Filter by form slug.

        Use the value `all` to include results from every form rather than a single form.
      schema:
        type: string
    parentCategoryFilter:
      name: parent
      in: query
      required: false
      description: Filter by parent category slug.
      schema:
        type: string
    categoryOrder:
      name: order
      in: query
      required: false
      description: |-
        Sort by a supported category field.
        * `parent` - Sort by parent slug.
        * `season` - Sort by season slug.
      schema:
        type: string
        enum:
          - chapter_count
          - created
          - divisions
          - entry_count
          - form
          - name
          - parent
          - promoted
          - season
          - shortcode
          - status
          - updated
    categorySlug:
      name: category_slug
      in: path
      required: true
      description: Slug of the category.
      schema:
        type: string
        pattern: ^[A-Za-z]{8}$
    chapterOrder:
      name: order
      in: query
      required: false
      description: |-
        Sort by a supported chapter field.
        * `parent` - Sort by parent slug.
        * `season` - Sort by season slug.
      schema:
        type: string
        enum:
          - chapter_count
          - divisions
          - entry_count
          - name
          - parent
          - season
          - shortcode
          - status
          - updated
    chapterSlug:
      name: chapter_slug
      in: path
      required: true
      description: Slug of the chapter.
      schema:
        type: string
        pattern: ^[A-Za-z]{8}$
    contributorOrder:
      name: order
      in: query
      required: false
      description: Sort by a supported contributor field.
      schema:
        type: string
    contributorSlug:
      name: contributor_slug
      in: path
      required: true
      description: Slug of the contributor.
      schema:
        type: string
        pattern: ^[A-Za-z]{8}$
    entryEntrantFilter:
      name: entrant
      in: query
      required: false
      description: Filter by entrant slug.
      schema:
        type: string
    entryModerationFilter:
      name: moderation
      in: query
      required: false
      description: Filter by moderation status.
      schema:
        type: string
        enum:
          - approved
          - undecided
          - rejected
    entryPaymentStatusFilter:
      name: payment_status
      in: query
      required: false
      description: Filter by payment status.
      schema:
        type: string
        enum:
          - paid
          - awaiting_payment
    entryPriceFilter:
      name: price
      in: query
      required: false
      description: Filter by price slug.
      schema:
        type: string
    entryReviewStatusFilter:
      name: review_status
      in: query
      required: false
      description: Filter by review status.
      schema:
        type: string
    entryStatusFilter:
      name: status
      in: query
      required: false
      description: Filter by entry status.
      schema:
        type: string
        enum:
          - submitted
          - in_progress
          - resubmission_required
          - resubmitted
    entryTitleFilter:
      name: title
      in: query
      required: false
      description: Filter by full or partial entry name.
      schema:
        type: string
    entryUpdatedAtFilter:
      name: updated_at
      in: query
      required: false
      description: |-
        Filter by update timestamp.
        Supported values:
        * `[before]=YYYY-MM-DDTHH:MM:SSZ`
        * `[after]=YYYY-MM-DDTHH:MM:SSZ`
        * `[on]=YYYY-MM-DDTHH:MM:SSZ`
        * `[between]=[YYYY-MM-DDTHH:MM:SSZ,YYYY-MM-DDTHH:MM:SSZ]`
      schema:
        type: string
    archivedFilter:
      name: archived
      in: query
      required: false
      description: |-
        Filter by archive mode.
        * `only` - Show only archived resources.
        * `all` - Include archived resources.
        * `none` - Exclude archived resources.
      schema:
        type: string
        enum:
          - only
          - all
          - none
    entryOrder:
      name: order
      in: query
      required: false
      description: Sort by a supported entry field.
      schema:
        type: string
        enum:
          - category
          - chapter
          - applicant
          - local_id
          - parent_category
          - title
          - updated
    entryIdentifier:
      name: entry_slug
      in: path
      required: true
      description: Slug or title of the entry.
      schema:
        type: string
    fieldSlug:
      name: field_slug
      in: path
      required: true
      description: Field slug
      schema:
        type: string
    entryTagsToAdd:
      name: tags
      in: path
      required: true
      description: Comma-separated tags to add to the entry.
      schema:
        type: string
    entryTagsToRemove:
      name: tags
      in: path
      required: true
      description: Comma-separated tags to remove from the entry.
      schema:
        type: string
    fieldConditionalFilter:
      name: conditional
      in: query
      required: false
      description: Filter by conditional value.
      schema:
        type: string
    fieldProtectionFilter:
      name: protection
      in: query
      required: false
      description: Filter by protection level.
      schema:
        type: string
        enum:
          - standard
          - elevated
          - maximum
    fieldResourceFilter:
      name: resource
      in: query
      required: false
      description: Filter by resource type.
      schema:
        type: string
        enum:
          - entries
          - users
          - attachments
          - contributors
    fieldTypeFilter:
      name: type
      in: query
      required: false
      description: Filter by field type.
      schema:
        type: string
        enum:
          - checkbox
          - checkboxlist
          - content
          - country
          - currency
          - date
          - datetime
          - drop-down-list
          - email
          - file
          - numeric
          - phone
          - radio
          - table
          - text
          - textarea
          - time
          - url
    fieldOrder:
      name: order
      in: query
      required: false
      description: Sort by a supported field property.
      schema:
        type: string
        enum:
          - title
          - resource
          - type
          - updated
          - created
          - categories
          - order
          - tab
    leaderboardScoreSetFilter:
      name: score_set
      in: query
      required: true
      description: Filter by score set slug.
      schema:
        type: string
    leaderboardOrder:
      name: order
      in: query
      required: false
      description: |-
        Sort by a supported leaderboard field.
        * `category` - Sort by category slug.
        * `chapter` - Sort by chapter slug.
      schema:
        type: string
        enum:
          - category
          - chapter
          - division
          - link
          - slug
          - status
          - submitted
          - auto_score
          - title
          - tags
    orderStatusFilter:
      name: status
      in: query
      required: false
      description: Filter by order status.
      schema:
        type: string
        enum:
          - paid
          - awaiting_payment
    orderTestFilter:
      name: test
      in: query
      required: false
      description: |-
        Filter by test order visibility.
        * `only` - Show only test orders.
        * `hide` - Exclude test orders.
      schema:
        type: string
        enum:
          - only
          - hide
    orderOrder:
      name: order
      in: query
      required: false
      description: Sort by a supported order field.
      schema:
        type: string
        enum:
          - date
          - email
          - first_name
          - last_name
          - local_id
          - number
          - payment_method
          - payment_status
          - season
          - total
    orderSlug:
      name: order_slug
      in: path
      required: true
      description: Slug of the order.
      schema:
        type: string
        pattern: ^[A-Za-z]{8}$
    reviewTaskActionAtFilter:
      name: action_at
      in: query
      required: false
      description: |-
        Filter by action timestamp.
        Supported values:
        * `[before]=YYYY-MM-DDTHH:MM:SSZ`
        * `[after]=YYYY-MM-DDTHH:MM:SSZ`
        * `[on]=YYYY-MM-DDTHH:MM:SSZ`
        * `[between]=[YYYY-MM-DDTHH:MM:SSZ,YYYY-MM-DDTHH:MM:SSZ]`
      schema:
        type: string
    reviewTaskCreatedAtFilter:
      name: created_at
      in: query
      required: false
      description: |-
        Filter by creation timestamp.
        Supported values:
        * `[before]=YYYY-MM-DDTHH:MM:SSZ`
        * `[after]=YYYY-MM-DDTHH:MM:SSZ`
        * `[on]=YYYY-MM-DDTHH:MM:SSZ`
        * `[between]=[YYYY-MM-DDTHH:MM:SSZ,YYYY-MM-DDTHH:MM:SSZ]`
      schema:
        type: string
    reviewTaskUpdatedAtFilter:
      name: updated_at
      in: query
      required: false
      description: |-
        Filter by update timestamp.
        Supported values:
        * `[before]=YYYY-MM-DDTHH:MM:SSZ`
        * `[after]=YYYY-MM-DDTHH:MM:SSZ`
        * `[on]=YYYY-MM-DDTHH:MM:SSZ`
        * `[between]=[YYYY-MM-DDTHH:MM:SSZ,YYYY-MM-DDTHH:MM:SSZ]`
      schema:
        type: string
    decisionFilter:
      name: decision
      in: query
      required: false
      description: Filter by decision name.
      schema:
        type: string
    reviewStageFilter:
      name: review_stage
      in: query
      required: false
      description: Filter by review stage slug.
      schema:
        type: string
    reviewerFilter:
      name: reviewer
      in: query
      required: false
      description: Filter by reviewer name or email.
      schema:
        type: string
    roundTypeFilter:
      name: type
      in: query
      required: false
      description: Filter by round type.
      schema:
        type: string
        enum:
          - entry
          - judge
          - feedback
    roundSlug:
      name: round_slug
      in: path
      required: true
      description: Slug of the round.
      schema:
        type: string
        pattern: ^[A-Za-z]{8}$
    scoreSetModeFilter:
      name: mode
      in: query
      required: false
      description: Filter by score set mode.
      schema:
        type: string
        enum:
          - qualifying
          - top_pick
          - vip_judging
          - voting
          - gallery
    scoreSetSlug:
      name: score_set_slug
      in: path
      required: true
[...]
